<h1 id = "name"> Claudia Tse </h1>
<%= image_tag("IMG_0681.PNG.png", size: "250x200", alt: "pic")%>
<p id = "where"> I'm from San Francisco. </p>
<p> I am a Junior. </p>
<p id = "funfact"> I like to play boardgames. </p>
<p id = "excited"> I am exicted to learn how to build websites. </p>